In [1]:
import pandas as pd
import urllib3
import requests
import numpy as np
import datetime
import requests
import re
import matplotlib
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.html.use_mathjax = False

In [3]:
fundsByBidders = pd.read_csv("winning_bidders.csv")

In [4]:
fundsByBidders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   auction_id              484 non-null    int64
 1   bidder                  484 non-null    object
 2   frn                     484 non-null    int64
 3   state                   484 non-null    object
 4   total_assigned_support  484 non-null    float64
 5   locations_assigned      484 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 22.8+ KB

In [5]:
totalByBidders = fundsByBidders.groupby(['bidder'
                                        ]).total_assigned_support.sum().reset_index().sort_values(
    "total_assigned_support", ascending=False)

In [6]:
totalByBidders["pct_total_funds"] = totalByBidders['total_assigned_support'] * 100 /(totalByBidders['total_assigned_support'].sum())

In [7]:
fundsByBidders.head()

,auction_id,bidder,frn,state,total_assigned_support,locations_assigned
0,904,4-Corners Consortium,29719283,NM,259803.00,635
1,904,AB Indiana LLC,21994686,FL,66830.41,261
2,904,ACT,29754652,MS,162213.60,925
3,904,AMG Technology Investment Group LLC,21701891,IA,11263788.57,36228
4,904,AMG Technology Investment Group LLC,21701891,IL,19309883.99,68921

In [8]:
fundsByBidders.total_assigned_support.sum()/1000000000

0.92306887149

## Ohio Valley Analysis

In [9]:
ov_filtered = fundsByBidders[(fundsByBidders['state'] == 'KY') 
                             | (fundsByBidders['state'] == 'OH') 
                             | (fundsByBidders['state'] == 'WV')]

In [10]:
ov_bidders = ov_filtered.groupby(['bidder']).total_assigned_support.sum().reset_index().sort_values("total_assigned_support", ascending=False)

In [11]:
ov_bidders.head()

                                           bidder  total_assigned_support
10       Frontier Communications Corporation, DIP             24762639.53
2                               CCO Holdings, LLC             16466496.47
5                      Citynet West Virginia, LLC              5351685.83
24  Windstream Services LLC, Debtor-In-Possession              4450861.89
8                            Connect Everyone LLC              3827365.99

In [11]:
ov_filtered.groupby(['state']).total_assigned_support.sum().reset_index().sort_values("total_assigned_support", ascending=False)

  state  total_assigned_support
2    WV             36206666.02
1    OH             17003820.51
0    KY             14897876.72

Annually, $36.2 million will go to bidders to build broadband mainly in rural areas of West Vigrinia, while telecommunication companies would get a support $17 million in Ohio and $15 million in Kentucky.

With $24.8 million annual support, Frontier Communications, that filed for Bankruptcy last year, was the biggest bidder in the Ohio Valley in the Phase I auctions that started late October, 2020
Another company that is also in the middle of bankruptcy, Windstream Services LLC, also won about $4.5 million worth of bids in the month-long auction.

In [18]:
24762639.53/1000000

24.76263953

## Census block analysis

In [12]:
# block_data = pd.read_csv("all_assigned_census_blocks.csv")

In [13]:
# block_data.info()

In [14]:
# ov_filtered = block_data[(block_data['state'] == 'KY'
#                              ) | (block_data['state'] == 'OH') | (block_data['state'] == 'WV')]

In [15]:
# ov_filtered.info()

In [16]:
# ov_filtered.head()

In [17]:
# ov_filtered.block_id.value_counts()

In [18]:
# all_bids = pd.read_csv("all_bid_results.csv")

In [19]:
# ovBids = all_bids[(all_bids['state'] == 'KY'
#                              ) | (all_bids['state'] == 'OH') | (all_bids['state'] == 'WV')]

In [20]:
# all_bids.head()

In [21]:
# all_bids.assigned_support.sum()/1000000

In [22]:
# ovBids_filtered = ovBids[ovBids.assigned_support > 0].reset_index()

In [23]:
# ovBids_filtered['t+l_weight'].value_counts()

In [24]:
# ovBids_filtered.columns

In [25]:
# ovBids_final = ovBids_filtered[["bidder", 'frn', "item", "state", "county", "census_id", "t+l_weight", "assigned_support", 'locations']]

In [26]:
# ovBids_final["county_name"] = ovBids_final["county"] + ", " + ovBids_final['state']

In [27]:
# ovBids_final.to_csv("ov_bid_results.csv")

## Final analysis

In [29]:
#read ohio valley filtered csvfile
# bid_data = pd.read_csv("ov_bid_results.csv").drop(columns={"Unnamed: 0"})
# bid_data.dtypes

In [30]:
# bid_data.info()

In [31]:
# bid_data['census_id'] = bid_data['census_id'].astype(str)

In [32]:
# bid_data.info()

In [33]:
# bid_data.to_csv("ov_bid_results.csv", index=False)

In [34]:
# bid_data.assigned_support.sum()/100000

In [35]:
df=pd.read_csv("broadband_deployment.csv")

In [36]:
# df['Census Block FIPS Code'].value_counts()

In [37]:
df['Census Block FIPS Code'].count()

4541748

In [38]:
df=df.drop_duplicates()

In [39]:
df= df[["Census Block FIPS Code", "Technology Code", "Max Advertised Downstream Speed (mbps)"]]

In [41]:
# df.to_csv("broadband_deployment.csv", index=False)

In [43]:
df['Max Advertised Downstream Speed (mbps)'].value_counts()

0.000       849507
25.000      781107
2.000       685059
35.000      398947
100.000     339621
940.000     308163
6.000       214231
18.000      173552
1000.000    117172
10.000       97705
12.000       82156
50.000       72597
15.000       66269
3.000        64747
5.000        44303
987.000      20569
200.000      16519
20.000       16431
1.500        15649
300.000      13374
1.000        13010
30.000       13009
9.000        12725
75.000       11643
115.000      11266
0.768        10524
400.000       8403
90.000        7237
40.000        6562
45.000        5257
60.000        5178
70.000        4370
16.000        4306
4.000         3365
250.000       2605
750.000       1614
500.000       1572
150.000       1230
0.512         1169
8.000         1136
900.000        416
24.000         353
134.000        153
7.000           90
999.000         74
102.000         40
31.000          35
26.000          30
0.416           26
1.100           18
0.256            4
11.000           3
0.384            2
17.000           2
65.000           2
14.000           1
81.000           1
600.000          1
535.000          1
22.000           1
101.000          1
99.000           1
51.000           1
0.510            1
125.000          1
80.000           1
Name: Max Advertised Downstream Speed (mbps), dtype: int64

In [44]:
df['Technology Code'].value_counts()

60    2532431
70     556089
43     369035
11     313673
10     284120
12     217338
50     160098
42      60192
30       6669
41       2384
20       1555
40       1534
Name: Technology Code, dtype: int64